<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>水质一张图</title>
</head>
<body>
<div id="map"></div>
<div class="tools">
    <div class="left-tools">
        <div class="left-tool-item tool-item" id="wq">水质</div>
        <div class="left-tool-item tool-item" id="label">标注</div>
    </div>
</div>

<div class="labels-panel label">
    <div class="label-pane" data-layer="jcLayer">
        <div class="label-icon label-icon-jc"></div>
        监测站
    </div>
    <div class="label-pane" data-layer="qxLayer">
        <div class="label-icon label-icon-qx"></div>
        气象站
    </div>
</div>

<div class="rivers-selected wq">
    <div style="width:100%;display: flex">
        <div class="select-label">河流选择:</div>
        <div class="select-field">
            <select name="" id="riversSelect">
                <option value="">全部河流</option>
            </select>
        </div>
    </div>

    <div class="wqTime-area" style="display: none">
        <input id="wqTime" type="checkbox"> 开启水质时空轨迹
    </div>
</div>

<div class="legends wq">
    <div class="water-quality-legends wq">
        <div class="wq-levels">
            <div class="wq-level">I级</div>
            <div class="wq-level">Ⅱ级</div>
            <div class="wq-level">Ⅲ级</div>
            <div class="wq-level">Ⅳ级</div>
            <div class="wq-level">Ⅴ级</div>
        </div>
        <div class="wq-levels-chart">
        </div>
    </div>
</div>
</body>
<!--<link rel="stylesheet" href="/asserts/leaflet/leaflet.css" />-->
<!--<link rel="stylesheet" href="/asserts/leaflet/plugins/leaflet-label/leaflet-label.css" />-->
<link rel="stylesheet" href="/asserts/map-talks/map-talks.css">
<script type="text/javascript" src="/asserts/map-talks/map-talks.min.js"></script>
<link rel="stylesheet" href="/css/index.css" />
<script src="/asserts/jquery/jquery-3.5.1.js"></script>
<!--<script src="/asserts/leaflet/leaflet.js"></script>-->

<!-- Mapbox GL -->
<!--<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css" rel='stylesheet' />-->
<!--<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js"></script>-->
<!--<script src="/asserts/eegeo/eegeo.js"></script>-->
<!--<script src="https://cdn-webgl.eegeo.com/eegeojs/api/v0.1.780/eegeo.js"></script>-->x

<script src="/js/map-talks/index.js"></script>
</html>
